<div class="mb-auto flex-grow-1">
  <h1 class="bg-danger d-inline-block p-2 rounded-2 m-3 text-white">
    <% if(!username) { %> Please log in to access your dashboard. <% } else { %>
    Welcome User <%= username%> <% } %>
  </h1>
  <div>
    <a
      id="protected-link"
      href="protected"
      role="button"
      class="btn btn-primary fs-3 m-3"
    >
      Access Protected Area
    </a>
  </div>
</div>
<script>
  const protectedLink = document.getElementById("protected-link")
  protectedLink.addEventListener("click", async () => {
    try {
      const res = await fetch("/protected", {
        method: "GET",
        credentials: "include",
      })
      if (res.ok) {
        console.log("Access granted")
      } else {
        console.error("Error accessing")
      }
    } catch (err) {
      console.error(err.message)
    }
  })
</script>
